
body {
  background-color: rgb(141, 213, 41);
}

#board {
  width: 1150px;
  height: 650px;
  border: 5px solid rgb(255, 0, 0);
  background-color: rgb(18, 216, 170);
}

#score, #highScore {
  color: rgb(195, 10, 191);
}

.snake {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}
.apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none
}
.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}