
body {
  background-color: rgb(141, 213, 41);
}

#board {
  width: 1150px;
  height: 650px;
  border: 5px solid rgb(255, 0, 0);
  background-color: rgb(18, 216, 163);
}

#score, #highScore {
  color: rgb(195, 10, 191);
}

.snake {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}
.apple {
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  user-select: none
}
.snake {
  background-image: url(https://i.postimg.cc/mrwJFLZP/pixil-frame-0.png);
  z-index: 2;
}

#snake-head {
  background-image: url(https://i.postimg.cc/cCy5Myhz/pixil-frame-0-1.png);
}
.up {
  transform: rotate(-90deg);
}
.down {
  transform: rotate(90deg);
}
.left {
  transform: rotate(180deg);
}
.right {
  transform: rotate(360deg);
}
.apple {
  background-image: url(https://i.postimg.cc/nc5C6mm1/pixil-frame-0-1.png);
  z-index: 1;
}